<h1><%= @state.name %></h1>

<div class="river-trips-container">
  <% @state.rivers.each do |river| %>
  <div class="river-trips">
    <%= link_to river.name, admin_river_path(river) %>
  </div>
  <% end %>
</div>

<div class="btn">
  <%= link_to "Delete State", admin_state_path(@state), method: "delete" %>
</div>
<div class="btn">
  <%= link_to "Edit State", edit_admin_state_path(@state) %>
</div>
